/*font*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*reset css*/
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body{
  background: var(--white-secondary);
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
/*ui colors*/
:root{
  --black-primary:#070707;
  --black-secondary:#4d4d4d;
  --blue-primary:#060e86;
  --box-shadow:#0000005d;
  --gray-primary:#9a9a9a;
  --purple-primary:#54429f;
  --purple-secondary:#765cdf;
  --red-primary:#e82925;
  --white-primary:#ffffff;
  --white-secondary:#f5f5f5;
  --yellow-primary:#ffde59;
  --yellow-secondary:#ffde59;
}
/*flexContainer*/
.flexContainer{
  margin:0 auto;
  max-width:1200px;
  width:80%;
}
@media (min-width:240px) and (max-width:900px){
  .flexContainer{
    width:90%;
  }
}
/*boxShadow*/
.boxShadow{
  box-shadow: 1px 2px 10px var(--box-shadow);
}
/*borderRadius*/
.borderRadius{
  border-radius: 9px;
}