.cardsContainer {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.cardsContainer a{
  width:100%;
}
.cardImage {
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: center;
  width: 100%;
}
.cardImage img {
  height: 100%;
  object-fit: contain;
  padding: 1rem;
  width: 100%;
}
.cardContainer {
  height:400px;
  display:'flex';
  overflow: "hidden";
  position: "relative";
  width: "100%";
  justify-content:'center';
  box-shadow: -5px 7px 56px -11px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: -5px 7px 56px -11px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: -5px 7px 56px -11px rgba(0, 0, 0, 0.53);
}
@media (min-width: 240px) and (max-width: 900px) {
  .cardsContainer {
    grid-template-columns: 1fr;
  }
}
