.buttonMenu{
    align-items: center;
    background: none;
    border:none;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom:4rem;
    padding:0.5rem;
    width:100px;
}
.talentCard{
    display:flex;
    flex-direction: column;
    gap:1rem;
    width:100%;
}
.talentDescription{
    align-items: center;
    display:flex;
    justify-content: space-around;
    padding:1rem;
    width:100%;
}
.talentDescription svg{
    color:var(--black-secondary);
    font-size:1.5rem;
}
.talentIcons{
    display:flex;
    gap:0.5rem;
    list-style: none;
}
.talentImage{
    background: var(--white-primary);
    display: flex;
    height:500px;
    justify-content: center;
    width:100%;
}
.talentImage img{
    object-fit: cover;
}
.talentName{
    text-align: center;
}