.aboutWrapper{
    align-items: center;
    color:var(--gray-primary);
    display:flex;
    gap:1.5rem;
    height:100vh;
    justify-content: center;
    text-align: center;
}
.aboutWrapper h2{
    font-family:'Bebas neue';
    font-size:60px;
    padding: 0 1rem;
}
.aboutWrapper hr{
    background:var(--gray-primary);
    margin-top:4rem;
    opacity: 0.5;
}